@use '../../../sass';
.home-body {
    position: relative;
    top: 10vh;
}
.homeSearch{
    @include sass.backgroundImage('https://miro.medium.com/max/3200/1*JfM2ePprvMkJtqNcxsCn9Q.jpeg', 200vw auto);
    height: 450px;
    object-fit: cover;
}
.google-places-autocomplete-home{
    position: relative;
    // width: 400px;
    height: 450px;
    @include sass.flexCenterRelative(row);
}
// .GooglePlacesAutocomplete{
//     width: 400px;
// }
.css-2b097c-container{
    width: 280px;
    // height: 100px;
}

@media (min-width: 700px){
    .homeSearch{
        height: 600px;
    }
    .google-places-autocomplete-home{

        height: 600px;
    }
}