@mixin flexCenterRelative($direction) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin backgroundImage($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
}

@mixin link {
  text-decoration: none;
  color: black;
}

$font: 'Open Sans', sans-serif;

div {
  font-family: $font;
}

