@media (min-width: 100px){
    .single-trip-home{
        width: 100vw;
        height: 100vh;
    }
    .single-trip-body {
        position: absolute;
        width: 100vw;
        height: auto;
        bottom: 640px;
        // border: 2px solid peru;
    }
    .single-trip-header-and-dates-container{
        // border: 1px solid lime;
        width: 80vw;
        position: relative;
        left: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .trip-dates-container{
        // border: 1px solid pink;
        margin-top: 4%;
        display: flex;
        justify-content: space-evenly;
        width: 75vw;
    }
    .start-end-date{
        border: none;
        // border: 1px solid lime;
        width: 65%;
        background-color: transparent;
        font-weight: bold;
        text-align: center;
        background: rgba(255, 255, 255, 0.6);
        padding: 4%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 20px;
    }
    .single-trip-container-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        bottom: 600px;
        height: auto;
        width: 80vw;
        left: 5vw;
        // border: 2px solid hotpink;
        background: rgba(255, 255, 255, 0.6);
        padding: 5%;
        margin-top: 50px;
        border-radius: 20px;
    }
    .single-trip-container {
        // border: 2px solid lime;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

    }
    .mapped-single-trip-items{
        // border: 1px solid lavender;
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    .single-trip-name{
        width: 33.3%;
        // border: 1px solid lime;
        display: flex;
        font-weight: bold;
    }
    .single-trip-day{
        width: 33.3%;
    }
    .single-trip-duration{
        width: 33.3%;
    }
    .button-container{
        // border: 1px solid blue;
    }

    .delete-item{
        position: relative;   
    }
    .divider-2{
        width: 90%;
        height: 1px;
        background-color: rgb(187, 184, 184);
        position: relative;
        right: 5%;
        margin-bottom: 2%;
        margin-top: 7%;
    }
    
    //EditViewSingleTrip
    .edit-container{
        // border: 2px solid hotpink;
        position: relative;
        width: 70vw;
        right: 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



