@use '../../../sass';

.itinerary{
    @include sass.flexCenterRelative(row);
    height: auto;
    width: 100vw;
    justify-content: space-around;
    margin-top: 3vw;
    // margin-bottom: 3vw;
}

.itineraryWords{
    @include sass.flexCenterRelative(column);
    font-size: 20px;
    width: auto;
    margin: 3vw;
    // border: solid hotpink 1px;
}
.itineraryHeader{
    font-size: 26px;
}

.itineraryText{
    position: relative;
    margin: 10px;
    font-size: 16px;
    width: auto;
    margin: 3vw;
}

.ad-image {
    max-width: 45vw;
    max-height: 45vh;
    position: relative;
    margin: 3vw;
}
.myTripAd{
    font-size: 18px;
    font-weight: 900;
}

@media (min-width: 700px){
    .itineraryHeader{
        font-size: 30px;
    }
    .itineraryText{
        font-size: 22px;
    }
    .myTripAd{
        font-size: 25px;
    }
    .ad-image{
        max-height: 60vh;
    }
}
@media (min-width: 1200px){
    .itineraryHeader{
        font-size: 45px;
    }
    .ad-image{
        max-height: 70vh;
    }
    .itineraryText{
        font-size: 30px;
        width: 40vw;
    }
  }