@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.account-body {
  position: relative;
  top: 10vh;
}

.edit{
  display: none;
}

header {
  font-family: 'Pacifico', cursive;
}