.search-page{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 10vh;
}

#mapId {
    height: 200px;
    position: relative;
}

.google-places-autocomplete{
    width: 100vw;
    position: relative;
    z-index: 2;
}
