@use "../../sass";

.edit-view{
    position: relative;
    width: 50vw;
    height: auto;
}
.edit-view-hide{
    display: none;
}
.trips-container{
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    padding: 6px;
}
.mapped-trips{
    max-width: 58vw;
    height: auto;
    color: black;
    font-size: 23px;
    display: flex;
    align-items: center;
}


.link{
    text-decoration: none;
}

.all-trips-body {
    @include sass.flexCenterRelative(column);   
    position: relative;
    top: 5vh;
}

.all-trips-body > header {
    position: relative;
    font-size: 30px;
    top: 10vh;
}

.all-trips-background {
    width: 100vw;
    height: 95vh;
    object-fit: cover;
}

.all-trips-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 22vh;
    width: 100vw;
    
}
.signedOutTrips{
    @include sass.flexCenterRelative(column);
}
.signInTrips{
    max-width: 95vw;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
    bottom: 200px;
}
.buttons{
    @include sass.flexCenterRelative(row);
    justify-content: space-between;
    width: 32vw;
}

.createDiv{
    @include sass.flexCenterRelative(column);
    margin: 20px;
}
.create{
    font-size: 20px;
}
.create:hover{
    font-size: 22px;
    background: rgba(255, 255, 255, 0.3);
    padding: 2px;
    border-radius: 10px;
}

.new-trip-button-all-trips {
    height: 35px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid grey;
    color: rgb(230, 102, 87);
}
.new-trip-button-all-trips:hover {
    background-color: grey;
    color: white;
}


@media (min-width: 1200px){
    .all-trips-container{
        right: 0px;
        left: 0px;
        width: 100%;
    }
    .all-trips-background{
        // border: 1px solid salmon;
        position: fixed;
        margin: 0px;
        top: 0px;
        height: 100vh;
        width: 100vw;
    }
    .trips-container {
        width: 45vw;
    }
}