@media (min-width: 100px){
    .edit-view{
        position: relative;
        width: 50vw;
        height: auto;
        left: 25vw;
        // bottom: 15vh;
        // background-color: azure;
        // border: 3px solid hotpink;
        // top: 10vh;
    }
    .edit-view-hide{
        display: none;
    }
    .trips-container{
        position: relative;
        top: 25vh;
        // border: 3px solid hotpink;
        display: flex;
        justify-content: space-between;
        width: 60vw;
        left: 20vw;
    }
    .mapped-trips{
        // background-color:rgb(176, 210, 226);
        // width: 60vw;
        height: auto;
        ;
        position: relative;
        color: black;
        text-decoration-color: white;
        font-size: 30px;
        display: flex;
        // justify-content: center;
        align-items: center;
        // border: 3px solid palevioletred;
    }
    
}

.link{
    text-decoration: none;
}

.all-trips-body {
    position: relative;
    top: 10vh;
    // background-color: blue;
}

.all-trips-body > header {
    font-size: 30px;
}

.all-trips-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}