@media (min-width: 100px){
    .mapped-trips{
        background-color: rgb(87, 195, 214);
        width: 80vw;
        position: relative;
        left: 10vw;
        text-decoration: none;
        color: black;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}