@media (min-width:100px){
    .mapped-place{
        height: auto;
        width: 150px;
        // border: 1px solid red;
    }
    
    .mapped-image{
        float: left;
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}