@use '../../../sass';

.mapped-places-container{
    // border: 2px solid green;
    height: auto;
    width: 100vw;
    @include sass.flexCenterRelative(row);
    justify-content: space-around;
    flex-wrap: wrap;
}
.destinationsHeader{
    height: 10vh;
    font-size: 50px;
    position: relative;
    top: 3vh;
}

@media (min-width: 700px){
    
}