@use '../../../sass';

.mapped-activity{
    height: auto;
    width: 150px;
    // border: 1px solid red;
    width: 33.3vw;
}

.mapped-activity-image{
    float: left;
    height: 150px;
    width: 150px;
    object-fit: cover;
    width: 33.3vw;
    height: 33.3vw;
}

.nameHome{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 33.3vw;
    width: 33.3vw;
}

.activity-name{
    position: relative;
    color: black;
    font-size: 18px; 
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 1%;
}

@media(min-width: 1200px){
    .activity-name{
        font-size: 25px;
    }
}