@use '../../sass';

.footerDivider{
  width: 90%;
  height: 1px;
  background-color: rgb(187, 184, 184);
  position: relative;
  // left: 5vw;
  margin-bottom: 2%;
  margin-top: 2%;
}

.footer{
  @include sass.flexCenterRelative(column);
  // align-items: flex-start;
  justify-content: space-around;
  height: 7vh;
}
.copyright{
  font-size: 14px;
}

@media (min-width: 700px){
  .copyright{
    font-size: 16px;
  }
}

@media (min-width: 1175px){
  .copyright{
    font-size: 16.5px;
  }
  .footerDivider{
    margin-top: 0;
    margin-bottom: 0;
  }
}