@use "../../sass";


.bucket-body {
    display: flex;
    justify-content: center;
}

.header-image {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bucket-list-container {
    // border: 1px solid lightskyblue;
    @include sass.flexCenterRelative(row);
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 15vh;
    // height: 100vh;
    width: 75vw;
    padding: 10px;
}

.bucket-list-images {
    // @include sass.flexCenterRelative(row);
    // justify-content: space-around;
    // flex-wrap: wrap;
    // float: left;
    @include sass.flexCenterRelative(row);
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 10px;
}

.place-container {
    // border: 1px solid black;
    box-shadow: 7px 8px 4px -2px rgba(0,0,0,0.36);
    background-color: white;
    height: 200px;
    margin-bottom: 12px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    top: 5px;
    left: 5px;
}

.pushpin {
    position: relative;
    bottom: 15px;
    width: 20px;
    height: 20px;
}

#place-name {
    // border: 5px solid red;
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 10px;
}

.mapped-container {

    // background-image: url('../../assets/RealBackground.png');
    // width:100%;
    // height: 100vh;
    // background-attachment: fixed;
    // background-size: cover;

    height: 115vh;

    position: relative;
    top: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}
 
.mapped-container > header {
    font-size: 30px;
    position: relative;
    top: 50px;
    z-index: 1;
}
// .bl-footer{
//     position: relative;
//     display: flex;
//     bottom: 0px;
//     // width: 100vw;
//     border: chartreuse solid 1px;
//     background: rgba(255, 255, 255, 0.7);
// }