@use "../../sass";

.closed{
  display: none;
}

.open {
  background-color: white;
  width: 100vw;
  // height: 150px;
  position: fixed;
  left: 0;
  top: 9.85vh;
  z-index: 3;
  text-align: right;
  animation-name: slide;
  animation-duration: 1s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid rgb(236, 236, 236) .5px;
  // box-shadow: 0px 0px 9px -2px white, 0px 0px 9px -2px #000000, 0px 0px 9px -2px #000000, 0px 0px 9px -2px white;
}

// .open-2{
//   background-color: white;
//   width: 100vw;
//   position: fixed;
//   height: 130px;
//   right: 0;
//   top: 11vh;
//   z-index: 2;
//   text-align: right;
//   animation-name: slide;
//   animation-duration: 1s;
//   box-shadow: 0px 0px 9px -2px #000000;
  
// }

li{
  margin: 15px;
  font-size: 18px;
  color: black;
  text-decoration: none;

}
.nav-link {
  position: relative;
  display:flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  // width: 7vw;
  font-size: 11px;
}

.logo {
  position: relative;
  left: 15px;
  height: 7vh;
  width: 7vh;
}

.nav-body {
  @include sass.flexCenterRelative(row);
  z-index: 2;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 10vh;
  box-shadow: 0px 0px 9px -2px #000000;
}

.profilePicHome{
  @include sass.flexCenterRelative(column);
}
.profilePic{
  position: relative;
  right: 25px;
  // border: solid rgb(104, 104, 104) 1px;
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px #5a5959;
}
.profilePic:hover{
  cursor: pointer;
}
.siteName{
  font-size: 15px;
  // letter-spacing: 5px;
  color: #e66657;
}

.register-login{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 30px;
}
.input{
  height: 30px;
  width: 250px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid grey;
}
.-button{
  position: relative;
  height: 35px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #e66657;
  margin: 10px;
  color: #e66657;
}
.-button:hover{
  background-color: #e66657;
  color: white;
  border: #e66657;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}




@media (min-width: 700px){
  .siteName{
    font-size: 30px;
  }
  .open{
    justify-content: flex-end;
  }
}
@media (min-width: 1200px){
  .siteName{
    font-size: 16px;
    margin-left: 3px;
    margin-top: 5px;
  }
  .nav-body{
    // border: 1px solid chartreuse;
    width: 100%;
    right: 1px;
    left: 1px;
  }

}



